<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">B.P.Collage</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link text-light" href="{{url_for("home")}}">Home</a>
                    <a class="nav-item nav-link text-light" href="{{url_for("about")}}">About</a>
                    <a class="nav-item nav-link text-light" href="{{url_for("scorner")}}">Student Corner</a>
                    <a class="nav-item nav-link text-light" href="{{url_for("contact")}}">Contact Us</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link text-light" href="{{url_for("slogin")}}">Login</a>
                    <!--                    <a class="nav-item nav-link text-light" href="/">Register</a>-->
                </div>
            </div>
        </div>
    </nav>
</header>