{% extends 'layout/student_layout.html' %}
{% block body %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
            <h2 class="account-heading" style="font-size:1.9em">{{ current_user.fname+current_user.lname }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
        </div>
    </div>
    {% from 'layout/formhelper.html' import render_field %}

    <form action=""  method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h1 class="pt-3 text-info" style="font-size:1.5em;">Account Info</h1>
        <div class="form-group pt-3 col-md-6 col-sm-12 ">
            {{render_field(form.email,class="form-control",placeholder="Email")}}
        </div>
        <div class="form-group pt-2 col-md-6 col-sm-12 ">
            {{render_field(form.mobile,class="form-control",placeholder="Mobile")}}
            <span id="confirmMessage" class="confirmMessage"></span>
        </div>
        <div class="form-group ml-3">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
            {% for error in form.picture.errors %}
            <span class="text-danger">{{ error }}</span></br>
            {% endfor %}
            {% endif %}
        </div>
        <div class="form-group pt-2 ml-3">
                {{render_field(form.update,value="Update",class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock %}