<!--Start footer area-->
<footer class="footer-area mt-5">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    <div class="footer-logo">
                        <a href="">
                            <img src="../static/img/logoo.png" alt="Awesome Footer Logo">
                        </a>
                    </div>


                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="text-align: center;">
                <div class="single-footer-widget pd-bottom">
                    <ul class="footer-contact-info" style="list-style-type:none;">
                        <li class="">
                            <div class="icon-holder">
                                <span class="flaticon-building"></span>
                            </div>
                            <div class="text-holder">
                                <p style="color:white">BHOLABHAI PATEL COLLEGE OF COMPUTER STUDIES <br>
                                    BPCCS-BCA Kadi Sarva Vishwavidyalaya, GH Rd, Sector 23, Gandhinagar, Gujarat 382023.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-technology"></span>
                            </div>
                            <div class="text-holder">
                                <p style="color:white">+91-79-4545454545, 42424242</p>
                                <p style="color:white"> Fax: +91-79-25252525 </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder">
                                <span class="flaticon-e-mail-envelope"></span>
                            </div>
                            <div class="text-holder">
                                <p><a class="online" title="info@rushil.com" href="" style="color:white;">bpccs@gmail.com</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-holder time">
                                <span class="flaticon-clock"></span>
                            </div>
                            <div class="text-holder ">
                                <p class="text-light">Monday - Sat Day: 09.00 to 18.00</p>
                            </div>
                        </li>
                    </ul>
                    <div class="footer-bottom-area" style="background-color: unset; position: absolute; ">
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->

            <!--End latest project-->
        </div>
    </div>
    <!--End single footer widget-->
</footer>

<!--Start footer bottom area-->
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="copyright-text text-light">
                    © 2020, All Rights Reserved.<i class="fa fa-heart" style="color: red;"></i> BY <a target="_blank"
                                                                                                      href=""
                                                                                                      style="color: #1967e5 !important;">
                    DRH Enterprise</a>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="footer-menu">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!--End footer bottom area-->

