{% extends "layout/admin_layout.html" %}
{% block body %}
<div class="form-group mt-3 d-flex justify-content-center mt-3">
    <p class="text-center"><a type="submit" class="btn btn-primary text-light" href="{{url_for('sregister')}}">Add
        Student</a></p>
        <form class="form-inline ml-auto" method="post" autocomplete="none">
            <div class="input-group ">
                <input class="form-control form-control-navbar" name="tag" id="tag" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
</div>
<table class="table table-sm mt-2">
    <thead class="" data-widget="pushmenu">
    <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">DOB</th>
        <th></th>
    </tr>
    </thead>
    {% for student in students.items %}

    <tbody>
    <tr>
        <th scope="row">{{loop.index}}</th>
        <td scope="row">{{ student.fname }} {{ student.lname }}</td>
        <td scope="row">{{ student.email }}</td>
        <td scope="row">{{ student.dob }}</td>
        <td><a href="{{url_for('sview',s_id=student.s_id)}}" class="btn btn-info">View</a></td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% for page_num in students.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
{% if page_num %}
{% if students.page == page_num %}
<a class="btn btn-info mb-4 ml-1" href="{{url_for('student_details', page=page_num)}}">{{page_num}}</a>
{% else %}
<a class="btn btn-outline-info mb-4 ml-1" href="{{url_for('student_details', page=page_num)}}">{{page_num}}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}

{% endblock %}