{% extends "layout/admin_layout.html" %}
{% block body %}
<div class="form-group container mt-3 d-flex justify-content-center mt-3">
    <a class="text-center"><a type="submit" class="btn btn-primary text-light" href="{{url_for('sregister')}}">Add Student</a>
</div>
<table class="main-header table-sm table ml-5 mt-2">
  <thead class="" data-widget="pushmenu">
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">DOB</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
    {% for student in students %}
  <tbody>
    <tr>
      <th scope="row">{{ student.id }}</th>
      <td scope="row">{{ student.fname }} {{ student.lname }}</td>
      <td scope="row">{{ student.email }}</td>
      <td scope="row">{{ student.dob }}</td>
      <td><a href="" class="btn btn-warning">Update</a></td>
      <td>
        <form method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE" class="btn btn-danger">
        </form>
      </td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}