{% extends 'layout/admin_layout.html' %}
{% block body %}

    <div class="container mt-3 d-flex justify-content-center">
        <div class="raw">
            <div class="content-section col-md-12  col-sm-12">
                {% from "layout/formhelper.html" import render_field  %}
                <form action="" method="POST"  id="fileForm">
                    {{ form.hidden_tag() }}
                    <h2 class="text-center" style="font-size:1.5em;">Updete Admin Info</h2>
                    <div class="form-group col-md-12 col-sm-12">
<!--                        <input type="text" name="f_name" class="form-control" required placeholder="First-Name" id="txt" onkeyup="Validate(this)" trim()>-->
                            {{ render_field(form.fname,class_="form-control",placeholder="First-Name", id="txt", onkeyup="Validate(this)")  }}
                    </div>
                    <div id="errLast"></div>
                    <div class="form-group col-md-12 col-sm-12">
<!--                        <input type="text" name="l_name" class="form-control" required placeholder=" Last-Name " id="txt " onkeyup="Validate(this)">-->
                        {{render_field(form.lname,class="form-control",placeholder="Last-Name")}}
                        <div id="errLast"></div>
                    </div>


                    <div class="form-group col-md-12 col-sm-12">
<!--                        <input type="text" name="email" class="form-control " required placeholder="Email " id=" email" onchange="email_validate(this.value);">-->
                        {{render_field(form.email,class="form-control ",placeholder="Email")}}
                        <div class="status" id="status"></div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
<!--                        <input type="text" name="mobile" class="form-control phone" required maxlength="28" onkeyup="validatephone(this);" placeholder="Mobile " id=" ">-->
<!--                        {{render_field(form.mobile,class="form-control ",placeholder="Mobile")}}-->
                        {{render_field(form.mobile,class="form-control",placeholder="Phone-Number")}}
                    </div>
                    <div class="form-group col-md-12 col-sm-12">
<!--                        <textarea name="address" style="border-radius: 12px;" id=" " class="form-control " required cols="40 " placeholder="Address" rows="2 "></textarea>-->
                        {{render_field(form.address,class="form-control",placeholder="Address",cols="40",rows="2")}}
                    </div>
                    <div class="text-center">
<!--                    <p class="text-center"><button type="submit" value="Register" class="btn btn-success">Register</button></p>-->
                    {{render_field(form.update,class="btn btn-outline-success")}}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}